body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #f2efdb;
    color: #00533f;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

.header {
    background-color: #efecd4;
    padding: 1% 0;
    color: #005b46;
    border: 1px solid #dedcca;

}
  
.logocontainer {
    display: flex;
    align-items: center;
    padding: 0 200px;
}

.section-names {
    display: flex;
    align-items: center;
    padding: 0 285px;
    font-size: medium;
    font-weight: 600;
}

.logo img {
    height: 50px;
    object-fit: contain;
}

.nav {
    width: 600px;
    display: flex;
    justify-content: left;
}

  
.nav a:hover {
    color: #029874;
}
  
#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-family: 'Montserrat', sans-serif;
    background-color: #029874;
    color: #efecd4;
    padding: 20px 25px;
    border: none;
    border-radius: 500000px;
    display: none;
    cursor: pointer;
    font-size: 20px;
}

  
#back-to-top:hover {
    background-color: #03715b;
    
}


.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
    color: #455560;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    position: relative;
}

.nav-link:hover {
    color: #029874;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 224%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2efdb;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: color 0.3s ease-in-out;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dropdown-content::before {
    content: '';
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #455560 transparent;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #455560;
    color: #f2efdb;
}

.dropdown-content a:hover {
    color: #029874;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-icon {
    transition: transform;
    width: 18px;
    height: 18px;
    margin-left: 3px;
}

.dropdown:hover .nav-link .dropdown-icon {
    transform: rotate(180deg);
}


.search-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 402px;
    height: 40px;
    border: 1px solid #cac6ad;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
}


.form-group {
    margin-left: 5px;
    margin-right: -12px;
}

#sort, #search {
    color: #455560;
}


select, input {
    padding: 8px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
}

#search {
    width: 220px;
}

.button {
    flex: 1;
    padding: 10px;
    border: 0;
    border-left: 1px solid #cac6ad;
    cursor: pointer;
    max-width: 45px;
    height: 100%;
    background-color: transparent;
}


.button:hover {
    background-color: #cac6ad;
}

.line {
    height: 100%;
    width: 1px;
    background-color: #cac6ad;

}

.search-icon {
    margin: auto;
    fill: #455560;
}
  
.buttons .btn {
    margin-left: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #efecd4;
}
  
.btn-login {
    background-color: #029874;
    transition: background-color 0.3s ease;
}

.btn-signin {
    background-color: #455560;
    transition: background-color 0.3s ease; 
}

.btn-login:hover {
    background-color: #03715b;
}

.btn-signin:hover {
    background-color: #33414e;
}

.signup-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #455560;
}

.signup-container h1 {
    font-weight: 600;
    margin-left: 35px;
}

.form-container {
    width: 800px;
    padding: 0 200px;
    background-color: none;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}


.form-group label {
    text-align: left; 
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}


label {
    color: #455560;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.custom-checkbox {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}

.custom-checkbox label {
    margin-top: 5px;
}


.btn-signup1 {
    background-color: #455560;
    color: #efecd4;
    position: relative;
    left: -8px;
    width: 98.5%;
    height: 33px;
    border: none;
    transition: background-color 0.3s ease;

}

#signup-btn-container {
    width: 100%;
}
  
.btn-signup1:hover {
    background-color: #33414e;
    cursor: pointer;
}


.forget-link,
.small-xl a {
    color: #029874;
    text-decoration: none;
}

.forget-link:hover,
.small-xl a:hover {
    color: #03715b;
}

.small-xl {
    font-size: 14px;
}

.text-muted {
    color: #6c757d;
}

.success-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #029874;
    color: #efecd4;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.error-message {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
}

